<style>
  .calendar{
    width: 280px;
    border: 1px solid #fff;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
  }
</style>

<input class="" placeholder="请选择日期" (focus)='_showCalendar()'>
<div *ngIf="show" class="calendar" [ngStyle]="{'width':width?width:'280px'}">
  <div class="calendar-header">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>
  <div class="calendar-body">
    <ul>
      <li *ngFor="let item of days">{{item}}</li>
    </ul>
  </div>
  <div class="calendar-footer"></div>
</div>